.interactive {
    position: absolute;
    z-index: 99999;
    display: none;
    cursor: pointer;
    &--visible {
        display: block;
    }
    &__geometry {
        &--ellipse {
            border-radius: 100%;
            border: 0.3rem solid $accent;
        }
        &--poly {
            background-color: $accent;
        }
    }
}