.interactive {
    position: absolute;
    z-index: 3;
    display: none;
    cursor: pointer;
    &--visible {
        display: block;
    }
    &__geometry {
        &--ellipse {
            border-radius: 100%;
            border: 0.3rem solid $accent;
        }
        &--poly {
            background-color: $accent;
        }
    }
    &__img {
        height: auto;
    }
    &__text {
        a,
        a:link,
        a:hover,
        a:focus,
        a:active {
            color: inherit;
        }
    }
    &__iframe {
        z-index: 5;
        border: none;
        transition: all .25s;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
    &__video {
        z-index: 5;
        background-color: $full-black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
}