.interactive {
    position: absolute;
    z-index: 3;
    display: none;
    cursor: pointer;
    &--visible {
        display: block;
    }
    &__geometry {
        &--ellipse {
            border-radius: 100%;
            border: 0.3rem solid $accent;
        }
        &--poly {
            background-color: $accent;
        }
    }
    &__img {
        height: auto;
    }
    &__text {
        a,
        a:link,
        a:hover,
        a:focus,
        a:active {
            color: inherit;
        }
    }
}