.video {
    &__container {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        video {
            width: 100vw;
            height: auto;
            max-height: 100vh;
        }
    }
    &__controls {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $black;
        text-align: right;
        opacity: 0;
        transition: opacity .25s;
        min-height: 30px;
        &--visible {
            opacity: 1;
        }
        &-content {
            display: inline-block;
            width: 100%;
            padding: 0 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        li {
            cursor: pointer;
            i {
                font-size: 1rem;
                color: $white;
            }
        }
    }
    &__control {
        float: right;
        &--play,
        &--pause {
            i {
                color: $accent !important;
            }
        }
        &--loop.active {
            i {
                color: $accent !important;
            }
        }
        &--playback {
            width: 30%;
            max-width: 150px;
            display: flex;
            justify-content: space-between;
        }
        &--volume-wrapper {
            float: left;
            position: relative;
            i {
                float: left;
                margin-right: 15px;
                min-width: 13px;
            }
            input[type=range] {
                -webkit-appearance: none;
                margin: 0;
                width: auto;
                float: left;
                position: absolute;
                top: 50%;
                right: -120px;
                transform: translateY(-50%);
                border-radius: 2px;
            }
        }
    }
}